body{
    background-image: url('/static/images/5XXnXos.png');
    background-size: cover;
}
h1{
    color:#ffffff;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    
}
h3{
    color : rgba(255, 255, 255, 0.575);
    text-align: center;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}
.heading{
    padding-top:100px;
}
.keren li{
    display : inline-block;
    padding-right: 20px;
}
.keren li p{
    padding: 10px;
}
.keren{
    text-align: center;
    font-family: 'Courgette', cursive;
    color:white;
    
}
.btn{
    text-align: right;
    font-family: 'Courgette','cursive';
    
}
.btn li{
    display: inline-block;
    padding: 20px;
}
.btn li p{
    padding:30px;
    
}
.btn2{
    text-align: center;
    font-family: 'Courgette','cursive';
}
.btn2 li{
    display: inline-block;
    padding: 20px;
}
.btn2 li p{
    padding: 10px;
}
.btn2 li a{
    color:white;
}
.btn2 li a:hover{
    color:rgb(10, 112, 107);
    border-radius: 5px;
    background-color: #ffffff;
    transition: 1s;
    position:relative;
}
nav{
    padding-right: 20px;
}
.keren li a{
    color:white;
}
.keren li a:hover{
    color:rgb(10, 112, 107);
    border-radius: 5px;
    background-color: #ffffff;
    transition: 1s;
    position:relative;
}
.btn li a{
    color:white;
}
.profileB{
    background-image: url('/static/images/background1.png');
    background-size: 100%;height: 765px ;
}
.lefty{
    color : #ffffff;
    text-align:left;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    padding-left: 50px;
}

.teks{
    color : #ffffff;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'Courgette', cursive;
}
.right{
    color:#ffffff;
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    padding-right: 50px;
}
.teksy{
    color : #ffffff;
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
    font-family: 'Courgette', cursive;
}
.aboutmeB{
    background-image: url('/static/images/aboutmeB.png');
    background-size: 120%;
}
.btnbg{
    padding:30px;
    background-size: 60px;
    border-radius: 90%;
}
.experienceB{
    background-image: url('/static/images/screen-8.png');
    background-size: 120%;

}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }