<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            <title>Profile keren</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/background_website.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <body class = "profileB">
            
        <h1 class="lefty">Profile</h1>
        <h3 class = "teks">______________________________________________________<br><br>
            Nama : Muhammad Ali Asadillah<br><br><br>
            NPM : 1806186660<br><br><br>
            Agama : Islam<br><br><br>
            Jenis Kelamin : Laki laki<br><br><br>
            Pendidikan : Ilmu komputer - Universitas Indonesia 2018<br><br><br>
            Hobi : Bermain basket <br><br>
            ______________________________________________________  

        </h3>
        <nav>
            
        </nav>

    </body>
{% endblock %}