<!DOCTYPE html>
{% load static %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">    
<head>
    <title>Website keren</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/background_website.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap" rel="stylesheet">
</head>
    <body>

    <h1 class="heading">Selamat datang!</h1>
    <h3>where should i redirect you to?</h3>
    <nav>   
        <ul class = "keren">
            <li><p><a href = "{% url 'homepage:about' %}">About Me!</a></p></li>
            <li><p><a href = "{% url 'homepage:exp' %}">Experience</a></p></li>
            <li><p><a href = "{% url 'homepage:profile' %}">Profile</a></p></li>
            <li><p><a href="{% url 'homepage:schedule' %}">Schedule</a></p></li>
        </ul>
    </nav>

    </body>
</html>